@import url('./myFonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
.scrollbar-hide {
  scrollbar-width: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
}
/* width */
::-webkit-scrollbar {
  width: 0 !important;
  display: none !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 20px;
}


.custom-range-slider{
  height: 22px !important;
}
.range-slider__range{
  color:red;
}
.date-input-with-dialog-input-buttons {
  margin-left: 20px !important;
  z-index: 1000000000;
}
.JDatePicker {
  position: relative;
  opacity: 1;
  z-index:1000000000 !important ;
}
.JC-days{
  background-color: #fff;
}

